@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Fira+Code:wght@400;500&display=swap');
@import "tailwindcss";

:root {
  --neon-cyan: #00f3ff;
  --neon-purple: #bc13fe;
  --bg-dark: #050505;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark);
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--neon-cyan);
}

::selection {
  background: var(--neon-cyan);
  color: #000;
}